html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

p {
     font-family: "Roboto", sans-serif;
 }

header {
    height: max-content;
    width: 100%;
    display: flex;
    background: #495057;
}

.logo {
    display: flex;
    width: 5%;
    height: 10%;
    float: left;
    left: 0;
}

nav {
    display: flex;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: 3%;
}

.nav_button {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 17px;
    color: #495057;
    background-color: #fff;
    padding: 8px;
    text-decoration:none;
}
.nav_button:hover {
    background-color: #1E1E1E
}

li {
    display: inline;
}

body {
    background-color: darkgray;
}
main {
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: 1%;
    word-spacing: 2px;
}

.clothing-item{
    background-color: gray;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.clothing-item:hover{
    transform: translateY(-5px);
}
.image{
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.merc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}
footer {
    margin-top: 1%;
    display: flex;
    float: left;
}

.socialNetwork_logo{
    display: flex;
    width: 5%;
    height: 50%;
    float: left;
    left: 0;
}
#sizes {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: grid;
}

#sizes td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sizes tr:nth-child(even){background-color: #f2f2f2;}

#sizes tr:hover {background-color: #495057;}

#sizes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}